<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Privacy and security</title>
    <link rel="stylesheet" href="../static/styles/main_style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='icons/LogoIcon.svg') }}" alt="">
            <span>Privacy and security</span>
        </div>

        <div class="navItems">
            <ul>
                <li><a class="nav-item" href="{{url_for('home') }}">home</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('it') }}">informatik</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('ggk') }}">history and civics</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('me') }}">about me</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li>
                    <div class="close-btn">
                        <span class="fas fa-times"></span>
                    </div>
                    <div class="wrapper">
                        <div class="search-btn">
                            <span class="fas fa-search"></span>
                        </div>
                        <div class="search-data">
                            <input type="text" required>
                            <div class="line"></div>
                            <label>Type to search..</label>
                            <span class="fas fa-search"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <script src="../static/scripts/searchButton.js"></script>

</header>

<body>

<div class="flexbox">

    <div class="flexelement">
        <p class="caption">
            c . i . a  Prinzip.
        </p>
        <p class="content">
            Für Unternehmen ist es besonders wichtig, dass nur autorisierte Benutzer ihre Daten anzeigen können. Dies bedeutet einerseits die Sicherheit gespeicherter Daten (data at rest), andererseits die Sicherheit von Informationen während der Datenübertragung (data in transit). In jedem Fall muss verhindert werden, dass vertrauliche Daten in unbefugte Hände gelangen. Auch wenn in den meisten Fällen die Vertraulichkeit der Daten gewährleistet sein muss, kann es erforderlich sein, Programme und Systemkonfigurationen vor unbefugten Personen geheim zu halten.
            <br>
            <br>
            Unter der Integrität von Daten versteht man die Nachvollziehbarkeit von vorgenommenen Änderungen an diesen. Die Daten stehen immer bestimmten autorisierten Personen zur Verfügung. In täglichen Geschäftsprozessen können bzw. werden sich diese Daten ändern. Jegliche Änderungen an Dateien müssen von jeder autorisierten Person nachverfolgbar sein. Dies kann beispielsweise durch die Versionsverwaltung sichergestellt werden, die in vielen Repositories bereits enthalten ist. Zum Beispiel kann für Programm code GitHub oder GitLab verwendet werden. Die Versionsverwaltung ist dafür verantwortlich, alle Änderungen an Dokumenten oder Dateien in Archiven mit Zeitstempeln und Benutzerkennungen zu speichern. So kann man nachvollziehen, wer zu welchem Zeitpunkt welche Änderungen am Dokument vorgenommen hat. Über die Versionsverwaltung kann man alte Versionen von Dokumenten und Dateien sowie gelöschte Dateien wiederherstellen.
            <br>
            <br>
            Die gespeicherten Daten müssen in einem größtmöglichen zeitlichen Rahmen verfügbar sein. Es unbedingt zu vermeiden, dass Daten verschwinden oder auf diese nicht zugegriffen werden kann, wenn sie gebraucht werden. Auch muss die Funktionsfähigkeit von Programmen jederzeit sichergestellt sein, um den betrieblichen Prozess nicht zu stören. Generell geht es darum, die gewünschten Funktionen eines Systems immer dann bereit zu stellen, wenn diese benötigt werden. Eine Bedrohung auf die Verfügbarkeit wäre zum Beispiel ein DoS bzw. DDoS Angriff. Dieser hat als Hauptziel, dass ein bestimmter Service nicht verfügbar ist. Das kann zum Beispiel ein Online-Buchungs-Portal sein, oder aber auch den Zugriff auf Daten verhindern. Meistens Zielen diese Angriffe auf das Datennetz des jeweiligen Service und überlasten dieses. Durch die Überlastung des Datennetzes kann auf dieses nicht mehr zugegriffen werden und ist somit nicht mehr verfügbar.
            <br>
            <br>
            Da heutzutage sämtliche Daten elektronisch versendet werden, ist es gerade bei sensiblen Daten, wie bei z.B. Urkunden oder Zahlungsdaten wichtig, auf die korrekte Authentifizierung zu achten. Es muss alles Notwendige unternommen werden, um den Urheber der Daten korrekt authentifizieren zu können. Es dürfen keine Zweifel am Urheber der Dateien entstehen. Gerade auch im Zahlungsverkehr ist die Korrekte Authentifizierung besonders wichtig. In diesem Bereich kann es auch wichtig sein, Authentizität von Programmen und Hardware zu garantieren. Dies wurde mit der vermehrten Übermittlung von sehr sensiblen Daten über das Internet zu einer der dann vier Grundbausteine der Informationssicherheit. Ein überarbeitetes Prinzip, welches den vierten Grundbaustein integriert hat, ist das V.I.V.A-Prinzip (englisch: C.I.A.A - wobei das zuletzt hinzugefügte A im englischen nicht für “Authenticity” sondern für “Audit” steht).
        </p>
    </div>


</div>

</body>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>general</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>informatic</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>history and civics</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>about me</h4>
                <ul>
                    <li><a href="#">Me in this project</a></li>
                </ul>
                <br>
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="https://github.com/alphaPhantm"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <hr>
        <div class="text">
            <a class="out">© 2021 </a><a class="inner">Noah Kessinger</a><a class="out"> All rights reserved.</a>
        </div>

    </div>

</footer>

</html>