<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Privacy and security</title>
    <link rel="stylesheet" href="../static/styles/main_style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/icons/LogoIcon.svg" alt="">
            <span>Privacy and security</span>
        </div>

        <div class="navItems">
            <ul>
                <li><a class="nav-item" href="{{url_for('home') }}">home</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('it') }}">informatik</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('ggk') }}">history and civics</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('me') }}">about me</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li>
                    <div class="close-btn">
                        <span class="fas fa-times"></span>
                    </div>
                    <div class="wrapper">
                        <div class="search-btn">
                            <span class="fas fa-search"></span>
                        </div>
                        <div class="search-data">
                            <input type="text" required>
                            <div class="line"></div>
                            <label>Type to search..</label>
                            <span class="fas fa-search"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <script src="../static/scripts/searchButton.js"></script>

</header>


<body>
<! Geschichte>
<div class="flexbox">

    <div class="flexelement">
        <p class="caption">
            Geschichte.
        </p>
        <p class="content">
            Verschlüsselung gibt es nicht erst seit einem neuen Zeitalter. Die Ägypter begannen mit ihrer Form der Verschlüsselung, den Hieroglyphen. Und es geht immer weiter. Vor Christus begannen so die Menschen zu verschlüsseln, denn nicht immer wollte man, dass andere über bestimmte Themen wissen sammeln konnten. Auch damals gab es Kriege, gegen bestimmte Gruppen, vor denen wollte man insbesondere bestimmte Information bewahren. So folgten noch weitere Zeitpunkte in der Geschichte, das Mittelalter und weitere unvergessliche Zeitalter. Sehr prägend in der Vergangenheit liegen die ersten zwei Weltkriege, in denen man sehr viel Wert auf Verschlüsselung legte. Ein Deutscher entwickelte eine bis heute faszinierende Verschlüsselung, zwar wurde diese nach einiger Zeit aufgelöst, doch ist sie prägend in der Weltgeschichte.
        </p>
        <div class="svg-bubbles">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>

        <form action="/ggk/geschichte" method="post">
            <input type="hidden" name="pageNumber" value="0">
            <button id="gooey-button">
                Learn more ...
                <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
            </button>
        </form>
    </div>

    <div class="flexelement">
        <img src="../static/pictures/joshua-gandara-xxn48oa73sM-unsplash.jpg" alt="">
    </div>

</div>
<hr class="content-spacer">

<! Überwachungsstaaten>
<div class="flexbox">

    <div class="flexelement">
        <img src="../static/pictures/joshua-gandara-xxn48oa73sM-unsplash.jpg" alt="">
    </div>

    <div class="flexelement">

        <p class="caption">
            Überwachungsstaaten.
        </p>
        <p class="content">
            Gefürchtet von der ganzen Welt, prägend aus der Vergangenheit. Überwachungsstaaten, es gibt sie nicht nur in Geschichtsbüchern und Filmen, noch heute versuchen Regierungen Überwachungsstaaten zu bilden. Insbesondere zur jetzigen Zeit machen sich wieder Menschen vermehrt Sorgen, vor allem Deutsche. Sie befürchten das Vernachlässigen der Grundrechte auf Privatsphäre und Sicherheit im Internet. Was ihnen dennoch nicht bewusst ist, dass Deutschland zwar Probleme besitzt mit Datenschutz und Sicherheit hat, doch andere Länder wie China stehen unter Kontrolle. Gewollt wird von niemandem kontrolliert zu werden, denn schon damals im 2. Weltkrieg zeigte sich, wie Menschen darauf reagieren, kontrolliert zu werden. Allerdings setzt die chinesische Regierung die Sucht nach Kontrolle und Profit fort.
        </p>
        <div class="svg-bubbles">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>

        <form action="/ggk/ueberwachungsstaaten" method="post">
            <input type="hidden" name="pageNumber" value="0">
            <button id="gooey-button">
                Learn more ...
                <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
            </button>
        </form>
    </div>

</div>
<hr class="content-spacer">

<! Data Mining>
<div class="flexbox">

    <div class="flexelement">
        <p class="caption">
            Data Mining.
        </p>
        <p class="content">
            Data Mining wird vermehrt verwendet. Umso grösser das Internet wird, umso mehr Daten entstehen. Allerdings nicht nur im Internet existieren unsere Daten, die Benutzung unserer Technologien hinterlässt überall Spuren. Die Verlockung unsere Daten zu sammeln ist riesig, mittlerweile nicht mal mehr undenkbar. Firmen brauchen unsere Daten, um uns Werbung zu schalten. Sie nutzen sie, um sie zu verkaufen. Unsere Daten sind schon lange nicht mehr „unsere“. Die Möglichkeiten unsere Daten zu behandeln ist riesig, es gibt verschiedenste Formen, es werden künstliche Intelligenzen und Algorithmen eingesetzt, um unsere Daten auszuwerten. So geht es schneller und mehr Daten können ausgewertet werden. Umso schneller dies geschieht, umso mehr Geld können die großen Firmen verdienen. Und es geht immer weiter, es wird nie enden.
        </p>
        <div class="svg-bubbles">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>

        <form action="/ggk/data_mining" method="post">
            <input type="hidden" name="pageNumber" value="0">
            <button id="gooey-button">
                Learn more ...
                <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
            </button>
        </form>
    </div>

    <div class="flexelement">
        <img src="../static/pictures/joshua-gandara-xxn48oa73sM-unsplash.jpg" alt="">
    </div>

</div>
<hr class="content-spacer">

<! Die Bevölkerung>
<div class="flexbox">

    <div class="flexelement">
        <img src="../static/pictures/joshua-gandara-xxn48oa73sM-unsplash.jpg" alt="">
    </div>

    <div class="flexelement">

        <p class="caption">
            Die Bevölkerung.
        </p>
        <p class="content">
            Unsere Daten werden gesammelt, ob wir das wollen oder nicht. Unser Einfluss darauf ist sehr gering. Dennoch gibt es Möglichkeiten einen Teil unserer Daten zu schützen, um zu vermeiden, dass diese in falsche Hände gelangen. Auch wenn jetzt schon viele unserer Daten verkauft worden sind, damit wir dann Werbung sehen, von denen Firmen denken, dass sie uns gefallen. Wir können uns dagegen wehren, wir können unsere Kinder schützen gegen die Profitsucht der riesigen Firmen. Es gibt Bedingungen, welche wir einhalten und nutzen müssen, damit all das wovor wir Angst haben geringer wird. Der Umgang mit Technologien gehört dazu, denn ohne einen angemessenen Umgang mit einem Handy oder anderen Geräten gelangen wir wieder in einen Teufelskreis, aus welchem es schwieriger ist rauszukommen als man denkt.
        </p>
        <div class="svg-bubbles">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>

        <form action="/ggk/die_bevoelkerung" method="post">
            <input type="hidden" name="pageNumber" value="0">
            <button id="gooey-button">
                Learn more ...
                <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
            </button>
        </form>
    </div>

</div>
<hr class="content-spacer">

<! Zukunft>
<div class="flexbox">

    <div class="flexelement">
        <p class="caption">
            Zukunft.
        </p>
        <p class="content">
            Die Zukunft ist ein unbeschriebenes Blatt, vieles ist für uns jetzt undenkbar, was allerdings gar nicht so weit weg von uns erscheint. Autonomes Fahren rückt immer näher, jedes Jahr gibt es neue Entwicklungen, ein Stück an der Zukunft. „Internet of Things“ (Internet der Dinge) werden immer populärer, viele Menschen nutzen sie aus Bequemlichkeit oder einfach aus dem Grund, dass es interessant ist einen Kühlschrank zu besitzen, der alles nachbestellt, was man benötigt. Hierdurch wird auch der Datenschutz und die Sicherheit beeinflusst, denn ein Kühlschrank kann nichts ohne Daten nachbestellen, ein Auto kann nicht ohne Daten autonom fahren. Jede neue Technologie benötigt unsere Daten, ohne diese wird auch in Zukunft nichts funktionieren. Denn die Digitalisierung schreitet nicht ohne den Datenschutz voran, Experten erklären das für unmöglich.
        </p>
        <div class="svg-bubbles">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>

        <form action="/ggk/zukunft" method="post">
            <input type="hidden" name="pageNumber" value="0">
            <button id="gooey-button">
                Learn more ...
                <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
            </button>
        </form>
    </div>

    <div class="flexelement">
        <img src="../static/pictures/joshua-gandara-xxn48oa73sM-unsplash.jpg" alt="">
    </div>

</div>

</body>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>general</h4>
                <ul>
                    <li><a href="{{url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('me') }}">about me</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>informatic</h4>
                <ul>
                    <li><a href="{{url_for('it_sicherheit') }}">sicherheit</a></li>
                    <li><a href="{{url_for('it_hacking_cracking') }}">Hacking / Cracking</a></li>
                    <li><a href="{{url_for('it_enigma') }}">Enigma</a></li>
                    <li><a href="{{url_for('it_data_mining') }}">Data Mining</a></li>
                    <li><a href="{{url_for('it_kuenstliche_inteligenz') }}">Künstliche Inteligenz</a></li>
                    <li><a href="{{url_for('it_quantentechnologie') }}">Quantentechnologie</a></li>
                    <li><a href="{{url_for('it_praxis') }}">Spielwiese</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>history and civics</h4>
                <ul>
                    <li><a href="{{url_for('ggk_geschichte') }}">geschichte</a></li>
                    <li><a href="{{url_for('ggk_ueberwachungsstaaten') }}">Überwachungsstaaten</a></li>
                    <li><a href="{{url_for('ggk_data_mining') }}">Data Mining</a></li>
                    <li><a href="{{url_for('ggk_die_bevoelkerung') }}">Die Bevölkerung</a></li>
                    <li><a href="{{url_for('ggk_zukunft') }}">Zukunft</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>about me</h4>
                <ul>
                    <li><a href="{{url_for('me') }}">Me in this project</a></li>
                </ul>
                <br>
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="https://github.com/alphaPhantm"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <hr>
        <div class="text">
            <a class="out">© 2021 </a><a class="inner">Noah Kessinger</a><a class="out"> All rights reserved.</a>
        </div>

    </div>

</footer>

</html>