<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Privacy and security</title>
    <link rel="stylesheet" href="../static/styles/main_style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/icons/LogoIcon.svg" alt="">
            <span>Privacy and security</span>
        </div>

        <div class="navItems">
            <ul>
                <li><a class="nav-item" href="#">general</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">informatic</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">history and civics</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">about me</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li>
                    <div class="close-btn">
                        <span class="fas fa-times"></span>
                    </div>
                    <div class="wrapper">
                        <div class="search-btn">
                            <span class="fas fa-search"></span>
                        </div>
                        <div class="search-data">
                            <input type="text" required>
                            <div class="line"></div>
                            <label>Type to search..</label>
                            <span class="fas fa-search"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <script src="../static/scripts/searchButton.js"></script>

</header>
<body>

</body>
</html>