<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Privacy and security</title>
    <link rel="stylesheet" href="../static/styles/main_style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='icons/LogoIcon.svg') }}" alt="">
            <span>Privacy and security</span>
        </div>

        <div class="navItems">
            <ul>
                <li><a class="nav-item" href="{{url_for('home') }}">home</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('it') }}">informatik</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('ggk') }}">history and civics</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="{{url_for('me') }}">about me</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li>
                    <div class="close-btn">
                        <span class="fas fa-times"></span>
                    </div>
                    <div class="wrapper">
                        <div class="search-btn">
                            <span class="fas fa-search"></span>
                        </div>
                        <div class="search-data">
                            <input type="text" required>
                            <div class="line"></div>
                            <label>Type to search..</label>
                            <span class="fas fa-search"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <script src="../static/scripts/searchButton.js"></script>

</header>

<body>

<div class="flexbox">

    <div class="flexelement">
        <p class="caption">
            Quantencomputer
        </p>
        <p class="teaser">
            Was ist ein Quantencomputer?
        </p>
        <p class="content">
            Ein Quantencomputer ist ein Prozessor, welcher die Gesetze der Quantenmechanik nutzt. Er arbeitet, im Unterschied zu herkömmlichen Computern, nicht auf Basis elektrischer, sondern quantenmechanischer Zustände.
        </p>
        <br>
        <p class="teaser">
            Qubits
        </p>
        <p class="content">
            Die In der heutigen Informatik verwendeten Bits sind lediglich Maßeinheiten. Im Gegensatz zu ihnen gibt es Qubits wirklich, z.B. als Photonen. Sie entstehen durch Bestrahlen eines Kristalls mit Laserimpulsen einer bestimmten Energie. Der Kristall erzeugt dabei zwei Photonen, die durch den gemeinsamen Entstehungsprozess miteinander verbunden („verschränkt“) sind. Beide Lichtteilchen (Qubits) erhalten den eigenen und den Zustand des jeweils anderen. Es handelt sich um eine zusammenhängende Überlagerung, die sich durch eine Messung als 0 oder 1 interpretieren lassen.
        </p>
        <br>
        <p class="teaser">
            Spukhafte Fernwirkung
        </p>
        <p class="content">
            Eine logische Schlussfolgerung ist, dass wenn bei der Messung des einen Qubits eine 1 herauskommt, dass dann bei der Messung des anderen eine 0 herauskommt. Dabei ist es auch egal wie weit diese Teilchen voneinander entfernt sind. Der Name spukhafte Fernwirkung stammt von dem Physiker Albert Einstein. Ihn brachte diese an die Verzweiflung, da es der Relativitätstheorie widerspricht.
            <br>
            <br>
            Als Beispiel zur spukhaften Fernwirkung und Quantenverschränkung eignet sich gut eine Mutter-Kind-Beziehung. Da ein Kind 9 Monate im Bauch der Mutter ist, und auch von dieser auf die Welt gebracht wird, ist es schon fast selbstverständlich, dass das Kind und die Mutter eine gute Beziehung haben. Somit wird die Mutter es Spüren, wenn es ihrem Kind im Kindergarten nicht gut geht, obwohl sie keine Möglichkeit hat dies irgendwoher zu wissen.
        </p>
    </div>


</div>

</body>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>general</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>informatic</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>history and civics</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>about me</h4>
                <ul>
                    <li><a href="#">Me in this project</a></li>
                </ul>
                <br>
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="https://github.com/alphaPhantm"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <hr>
        <div class="text">
            <a class="out">© 2021 </a><a class="inner">Noah Kessinger</a><a class="out"> All rights reserved.</a>
        </div>

    </div>

</footer>

</html>