<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Privacy and security</title>
  <!link rel="stylesheet" href="../static/styles/main_style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_style.css') }}">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>


<body>

<form class="box" action="/it/praxis/calculate" method="post">

  <h1>Skytale</h1>

  <input type="hidden" id="id" name="id" value="2">

  <div class="btn btn-1">
    <input onclick="myFunction()" type="checkbox" id="switch">
    <label for="switch"></label>
  </div>

  <label>
    <input type="text" name="text" placeholder="Text">
  </label>

  <label>
    <input type="hidden" name="passPhrase">
  </label>


  <label>
    <input type="text" name="shift" placeholder="Dicke der Skytale">
  </label>

  <input id="submit" type="submit" name="" value="Verschlüsseln">


  <label>
    <input type="hidden" name="ukw" placeholder="UKW">
  </label>

  <label>
    <input type="hidden" name="walze1" placeholder="Linke Walze">
  </label>

  <label>
    <input type="hidden" name="walze2" placeholder="Mittlere Walze">
  </label>

  <label>
    <input type="hidden" name="walze3" placeholder="Rechte Walze">
  </label>

  <label>
    <input type="hidden" name="walzenPos" placeholder="Walzen Position">
  </label>

  <label>
    <input type="hidden" name="ringPosW1" placeholder="Ring Position">
  </label>

  <label>
    <input type="hidden" name="ringPosW2" placeholder="Ring Position">
  </label>

  <label>
    <input type="hidden" name="ringPosW3" placeholder="Ring Position">
  </label>

  <label>
    <input type="hidden" name="steckerbrett" placeholder="Steckverbindungen">
  </label>


</form>

<script>
  function myFunction() {
    if (document.getElementById("id").getAttribute("value") === "2"){
        document.getElementById("id").setAttribute("value", "3")
        document.getElementById("submit").setAttribute("value", "Verschlüsseln")
    }
    else {
        document.getElementById("id").setAttribute("value", "2")
        document.getElementById("submit").setAttribute("value", "Entschlüsseln")
    }

}
</script>


</body>
</html>
