<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/dev.css">
</head>
<body>


<form class="box" action="calculate" method="post">

    <h1>Ceasar Chiffre</h1>

    <input type="hidden" id="id" name="id" value="0">

    <div class="btn btn-1">
        <input onchange="myFunction()" type="checkbox" id="switch">
        <label for="switch"></label>
    </div>

    <input type="text" name="text" placeholder="Text">

    <input type="text" name="shift" placeholder="Verschiebung">

    <input type="submit" name="" value="Verschlüsseln">

</form>



<script>
    function myFunction() {
        if (document.getElementById("id").getAttribute("value") === 1){
            document.getElementById("id").setAttribute("value", 0)
        }
        else {
            document.getElementById("id").setAttribute("value", 1)
        }
    }
</script>


</body>
</html>
