<!--------Button------------------>
<form action="http://127.0.0.1:1337/test" method="post">
  <button class="button-1" name="rsa" type="submit">
    <img src="../static/icons/sec.png" alt="">
    <span>Verschlüsseln mit RSA</span>
  </button>
</form>
<!--------Button------------------>



<!--------Bubble Button------------------>
<div class="svg-bubbles">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="gooey">
      <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
      <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
      <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
    </filter>
  </defs>
</svg>
</div>

<a href="">
  <button id="gooey-button">
    F*** Awesome
    <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
  </button>
</a>
<!--------Bubble Button------------------>


<!--------Header------------------>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/icons/LogoIcon.svg" alt="">
            <span>Privacy and security</span>
        </div>

        <div class="navItems">
            <ul>
                <li><a class="nav-item" href="#">general</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">informatic</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">history and civics</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">about me</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li>
                    <div class="close-btn">
                        <span class="fas fa-times"></span>
                    </div>
                    <div class="wrapper">
                        <div class="search-btn">
                            <span class="fas fa-search"></span>
                        </div>
                        <div class="search-data">
                            <input type="text" required>
                            <div class="line"></div>
                            <label>Type to search..</label>
                            <span class="fas fa-search"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <script src="../static/scripts/searchButton.js"></script>

</header>

<!--------Header------------------>
