<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/dev.css">
</head>
<body>


<form class="box" action="calculate" method="post">
    <h1>Ceasar Chiffre</h1>
    <span class="btn btn-1">
        <input type="checkbox" name="" id="switch">
        <label for="switch"></label>
    </span>
    <input type="hidden" name="id" value="1">
    <input type="text" name="text" placeholder="Text">
    <input type="text" name="shift" placeholder="Verschiebung">
    <input type="submit" name="" value="Verschlüsseln">

</form>




</body>
</html>
