<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Dev</title>
    <link rel="stylesheet" href="../static/styles/main_style.css">
</head>
<body>

    <div class="banner">
        <div class="navbar">
            <img src="../static/icons/Element14.svg" alt="" class="logo">
            <ul>
                <li><a href="">Home</a></li>
                <li><a class="spacer">|</a></li>
                <li><a href="">Home</a></li>
                <li><a class="spacer">|</a></li>
                <li><a href="">Home</a></li>
                <li><a class="spacer">|</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>
    </div>
</body>
</html>