<!--------Button------------------>
<form action="http://127.0.0.1:1337/test" method="post">
  <button class="button-1" name="rsa" type="submit">
    <img src="../static/icons/sec.png" alt="">
    <span>Verschlüsseln mit RSA</span>
  </button>
</form>
<!--------Button------------------>



<!--------Bubble Button------------------>
<div class="svg-bubbles">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="gooey">
      <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
      <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
      <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
    </filter>
  </defs>
</svg>
</div>

<a href="">
  <button id="gooey-button">
    F*** Awesome
    <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
  </button>
</a>
<!--------Bubble Button------------------>


<!--------Header------------------>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/icons/LogoIcon.svg" alt="">
            <span>Privacy and security</span>
        </div>

        <div class="navItems">
            <ul>
                <li><a class="nav-item" href="#">general</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">informatic</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">history and civics</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li><a class="nav-item" href="#">about me</a></li>
                <li><a class="nav-spacer"><img src="../static/icons/navSpacer.svg" alt=""></a></li>
                <li>
                    <div class="close-btn">
                        <span class="fas fa-times"></span>
                    </div>
                    <div class="wrapper">
                        <div class="search-btn">
                            <span class="fas fa-search"></span>
                        </div>
                        <div class="search-data">
                            <input type="text" required>
                            <div class="line"></div>
                            <label>Type to search..</label>
                            <span class="fas fa-search"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <script src="../static/scripts/searchButton.js"></script>

</header>

<!--------Header------------------>


<!--------Footer------------------>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>general</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>informatic</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>history and civics</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>about me</h4>
                <ul>
                    <li><a href="#">Me in this project</a></li>
                </ul>
                <br>
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="https://github.com/alphaPhantm"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <hr>
        <div class="text">
            <a class="out">© 2021 </a><a class="inner">Noah Kessinger</a><a class="out"> All rights reserved.</a>
        </div>

    </div>

</footer>

<!--------Footer------------------>

<!--------content spacer------------------>

<hr class="content-spacer">

<!--------content spacer------------------>

<!--------Data Input------------------>
<form class="box" action="calculate" method="post">

    <h1>Ceasar Chiffre</h1>

    <input type="hidden" id="id" name="id" value="0">

    <div class="btn btn-1">
        <input onchange="myFunction()" type="checkbox" id="switch">
        <label for="switch"></label>
    </div>

    <input type="text" name="text" placeholder="Text">

    <input type="text" name="shift" placeholder="Verschiebung">

    <input type="submit" name="" value="Verschlüsseln">

</form>

<script src="../static/scripts/setTypeValue.js.js"></script>
<!--------Data Input------------------>