





.navChildItem
  list-style: none
  display: inline-block
  margin: 0 20px
  position: relative

  a
    text-decoration: none
    color: #F8F8FF
    text-transform: uppercase

  &::after
    content: ""
    height: 3px
    width: 0
    background: #C40233
    position: absolute
    left: 0
    bottom: -5px
    transition: 0.5s

  &:hover::after
    width: 100%

.navAdultItem
  list-style: none
  display: inline-block
  margin: 0 20px
  position: relative

  a
    text-decoration: none
    color: #F8F8FF
    text-transform: uppercase


.navSpacer
  list-style: none
  display: inline-block
  margin: 0 20px
  position: relative

  a
    text-decoration: none
    color: $red