body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Light", sans-serif;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #121212;
    text-align: center;
}

.box h1{
    color: #F8F8FF;
    text-transform: uppercase;
    font-weight: lighter;
}

.box input[type = "text"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #c40233;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #F8F8FF;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus{
    width: 280px;
    color: #F8F8FF;

}

.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #c40233;
    padding: 14px 40px;
    outline: none;
    color: #F8F8FF;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input::placeholder{
    color: #F8F8FF;
}

.box input[type = "submit"]:hover{
    background: #c40233;
    color: #121212;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.btn{
    position: relative;
    height: 56px;
}
.btn input{
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: none;
    appearance: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    box-shadow: 1px 6px 11px #000000;
}
.btn input:before,
.btn input:after{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #111;
}
.btn input:before{
    content: "ON";
    left: 40px;
}
.btn input:after{
    content: "OFF";
    right: 40px;
}
.btn label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 20px;
}
.btn.btn-1 input{
    transition: 0.2s -0.1s;
}
.btn.btn-1 input:checked{
    background: #fff;
}
.btn.btn-1 input:checked:before{
    color: #111;
    transition: color 0.5s 0.2s;
}
.btn.btn-1 input:checked:after{
    color: #111;
    transition: color 0.5s;
}
.btn.btn-1 input:checked + label{
    left: 10px;
    right: 100px;
    background: #d2ab21;
    transition: left 0.5s, right 0.4s 0.2s;
}
.btn.btn-1 input:not(:checked){
    background: #d2ab21;
    transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked):before{
    color: #111;
    transition: color 0.5s;
}
.btn.btn-1 input:not(:checked):after{
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}
.btn.btn-1 input:not(:checked) + label{
    left: 100px;
    right: 10px;
    background: #fff;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}