* {
  margin: 0;
  padding: 0; }

body, html {
  background-color: #121212;
  /*display: flex */
  font-family: "Segoe UI Light", monospace;
  font-size: 10px;
  min-height: 100%;
  /*justify-content: center */
  /*align-items: center */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

button {
  margin: 10rem; }
  button.button-1 {
    border-radius: 2rem;
    border: none;
    padding: 1rem 3rem 1rem 7rem;
    background-color: #121821;
    position: relative;
    color: white;
    font-size: 1.6rem;
    transition: all 250ms;
    cursor: pointer;
    z-index: 1;
    position: relative; }
    button.button-1:focus {
      outline: none; }
    button.button-1:hover::after {
      width: 100%;
      right: 0; }
    button.button-1 img {
      top: 1.3rem;
      left: 1.1rem;
      z-index: 2;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem; }
    button.button-1 span {
      z-index: 2;
      position: relative; }
    button.button-1::after {
      width: 3.9rem;
      height: 3.9rem;
      border-radius: 2rem;
      background-color: #C40233;
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      transition: all 250ms; }
  button.button-2 {
    border-radius: 2rem;
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    background-color: #121821;
    position: relative;
    color: white;
    font-size: 1.6rem;
    transition: all 250ms;
    cursor: pointer;
    z-index: 1;
    position: relative; }
    button.button-2::before {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      border: 0.1rem solid #C40233;
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      opacity: 0; }
    button.button-2:hover::before {
      animation: 1000ms border infinite; }
  button.button-3 {
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative; }
    button.button-3 span {
      display: block;
      padding: 1rem 3rem 1rem 3rem;
      border-radius: 2rem;
      background-color: #121821;
      position: absolute;
      color: white;
      font-size: 1.6rem;
      transition: all 250ms;
      cursor: pointer;
      z-index: 2;
      position: relative; }
      button.button-3 span:hover {
        color: #00ffff; }
    button.button-3::before {
      filter: blur(30px);
      background-color: #00ffff;
      border-radius: 2rem;
      content: "";
      z-index: 1;
      width: 50%;
      height: 100%;
      position: absolute;
      display: block;
      transition: all 250ms;
      animation-delay: 2s;
      opacity: 0; }
    button.button-3::after {
      filter: blur(30px);
      background-color: #ff0072;
      border-radius: 2rem;
      content: "";
      z-index: 1;
      width: 50%;
      bottom: 0;
      transition: all 250ms;
      right: 0;
      height: 100%;
      position: absolute;
      display: block;
      opacity: 0; }
    button.button-3:hover::before, button.button-3:hover::after {
      opacity: 1;
      animation: backGlow 7s ease infinite; }

.svg-bubbles svg {
  position: absolute;
  top: -4000px;
  left: -4000px; }

#gooey-button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  color: #121212;
  filter: url("#gooey");
  position: relative;
  background-color: #C40233; }
  #gooey-button:focus {
    outline: none; }
  #gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    #gooey-button .bubbles .bubble {
      background-color: #C40233;
      border-radius: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      z-index: -1; }
      #gooey-button .bubbles .bubble:nth-child(1) {
        left: 59px;
        width: 25px;
        height: 25px;
        animation: move-1 3.02s infinite;
        animation-delay: 0.2s; }
      #gooey-button .bubbles .bubble:nth-child(2) {
        left: 63px;
        width: 25px;
        height: 25px;
        animation: move-2 3.04s infinite;
        animation-delay: 0.4s; }
      #gooey-button .bubbles .bubble:nth-child(3) {
        left: 39px;
        width: 25px;
        height: 25px;
        animation: move-3 3.06s infinite;
        animation-delay: 0.6s; }
      #gooey-button .bubbles .bubble:nth-child(4) {
        left: 51px;
        width: 25px;
        height: 25px;
        animation: move-4 3.08s infinite;
        animation-delay: 0.8s; }
      #gooey-button .bubbles .bubble:nth-child(5) {
        left: 89px;
        width: 25px;
        height: 25px;
        animation: move-5 3.1s infinite;
        animation-delay: 1s; }
      #gooey-button .bubbles .bubble:nth-child(6) {
        left: 74px;
        width: 25px;
        height: 25px;
        animation: move-6 3.12s infinite;
        animation-delay: 1.2s; }
      #gooey-button .bubbles .bubble:nth-child(7) {
        left: 27px;
        width: 25px;
        height: 25px;
        animation: move-7 3.14s infinite;
        animation-delay: 1.4s; }
      #gooey-button .bubbles .bubble:nth-child(8) {
        left: 64px;
        width: 25px;
        height: 25px;
        animation: move-8 3.16s infinite;
        animation-delay: 1.6s; }
      #gooey-button .bubbles .bubble:nth-child(9) {
        left: 36px;
        width: 25px;
        height: 25px;
        animation: move-9 3.18s infinite;
        animation-delay: 1.8s; }
      #gooey-button .bubbles .bubble:nth-child(10) {
        left: 96px;
        width: 25px;
        height: 25px;
        animation: move-10 3.2s infinite;
        animation-delay: 2s; }

@keyframes move-1 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 79px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-2 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 90px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-3 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 54px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-4 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 93px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-5 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 106px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-6 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 120px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-7 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 125px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-8 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 104px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-9 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 110px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes move-10 {
  0% {
    transform: translate(0, 0);
    background: linear-gradient(0deg, #ffa500 0%, #C40233 0%); }
  80% {
    background: linear-gradient(0deg, #ffa500 0%, #C40233 100%); }
  99% {
    transform: translate(0, 82px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
@keyframes border {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1.3, 1.6); } }
@keyframes backGlow {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2; }
  25% {
    transform: translate(15%, 0%) scale(0.9);
    opacity: 1; }
  50% {
    transform: translate(25%, 15%) scale(0.8);
    opacity: 0.3; }
  75% {
    transform: translate(0%, 5%) scale(1.2);
    opacity: 0.7; }
  100% {
    transform: translate(0%, 0%) scale(0.9);
    opacity: 0.2; } }
body {
  position: relative;
  background: #121212; }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-right: 2em;
  text-decoration: none; }

.logo img {
  height: 5em;
  width: 5em; }

.logo span {
  color: #F8F8FF;
  text-transform: uppercase;
  margin-left: 20px; }

.navbar {
  font-size: 20px;
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navbar .logo {
  width: 20%;
  cursor: pointer;
  display: inline-flex; }

.navbar .navItems ul li {
  list-style: none;
  display: inline-flex;
  margin: 0 20px;
  position: relative; }

.navbar .navItems ul li a {
  text-decoration: none;
  color: #F8F8FF;
  text-transform: uppercase; }

.navbar .navItems ul li .nav-item::after {
  content: "";
  height: 1px;
  width: 0;
  background: #c40233;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s; }

.navbar .navItems ul li .nav-item:hover::after {
  width: 100%; }

.navbar .navItems ul li .active::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #c40233;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s; }

.navbar .navItems ul li .nav-spacer {
  position: relative;
  top: 10px; }

/* Ab hier ist das Such ding */
.wrapper, .search-data {
  transform: translate(-50%, -50%); }

.wrapper {
  z-index: 98;
  position: fixed;
  margin-top: -5px;
  height: 0;
  width: 0;
  border-radius: 100%;
  background: #c40233;
  transition: all 0.4s linear; }

.wrapper.active {
  height: 4000px;
  width: 4000px; }

.search-btn {
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #c40233;
  color: #c40233;
  background: none; }

.search-btn:hover {
  color: #121212;
  border: none;
  background: #c40233; }

.search-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, 600%);
  height: 50px;
  width: 400px;
  display: flex;
  text-align: center; }

/* display: none */
.search-data input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  color: #121212; }

.search-data .line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #121212;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s 0.3s linear; }

.search-data .line.active {
  transform: scaleX(1); }

.search-data label {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #121212; }

.search-data input:valid ~ label {
  opacity: 0; }

.search-data span {
  color: #121212;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer; }

.close-btn {
  position: fixed;
  z-index: 99;
  right: 25px;
  top: 25px;
  font-size: 25px;
  color: #121212;
  cursor: pointer; }

.search-data, .search-data span,
.search-data label, .close-btn {
  display: none; }

.container {
  max-width: 1170px;
  margin: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

ul {
  list-style: none; }

.footer {
  position: sticky;
  top: 100%;
  background-color: #121212;
  padding: 70px 0; }

.footer-col {
  width: 25%;
  padding: 0 15px; }
  .footer-col h4 {
    font-size: 18px;
    color: #F8F8FF;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative; }
    .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #c40233;
      height: 1px;
      box-sizing: border-box;
      width: 50px; }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px; }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #F8F8FF;
    display: block;
    transition: all 0.3s ease; }
    .footer-col ul li a:hover {
      color: #F8F8FF;
      padding-left: 8px; }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #121212;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease; }
    .footer-col .social-links a:hover {
      color: #121212;
      background-color: #F8F8FF; }

footer .copyrights {
  margin-top: 20px;
  text-align: center; }
  footer .copyrights hr {
    border: 1px solid #c40233; }
  footer .copyrights .text {
    margin-top: 20px;
    margin-bottom: -50px; }
    footer .copyrights .text .out {
      color: #F8F8FF; }
    footer .copyrights .text .inner {
      color: #F8F8FF;
      text-transform: uppercase;
      font-weight: bold; }

/*responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px; } }
@media (max-width: 574px) {
  .footer-col {
    width: 100%; } }
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .box h1 {
    color: #F8F8FF;
    text-transform: uppercase;
    font-weight: lighter; }
  .box input[type="text"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #c40233;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #F8F8FF;
    border-radius: 24px;
    transition: 0.25s;
    box-shadow: 1px 6px 11px #000000; }
    .box input[type="text"]:focus {
      width: 280px;
      color: #F8F8FF; }
  .box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #c40233;
    padding: 14px 40px;
    outline: none;
    color: #F8F8FF;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 1px 6px 11px #000000; }
  .box input::placeholder {
    color: #F8F8FF; }
  .box input[type="submit"]:hover {
    background: #c40233;
    color: #121212; }

.btn {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0; }
  .btn input {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 24px;
    outline: none;
    cursor: none;
    appearance: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    box-shadow: none;
    /*box-shadow: 1px 6px 11px #000000; */ }
    .btn input:before, .btn input:after {
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #121212; }
    .btn input:before {
      content: "Ent";
      left: 40px; }
    .btn input:after {
      content: "Ver";
      right: 40px; }
  .btn label {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 30px;
    top: 25%;
    bottom: 25%;
    left: 20%;
    border-radius: 24px; }
  .btn.btn-1 input {
    transition: 0.2s -0.1s; }
    .btn.btn-1 input:checked {
      background: #F8F8FF; }
      .btn.btn-1 input:checked:before {
        color: #121212;
        transition: color 0.5s 0.2s; }
      .btn.btn-1 input:checked:after {
        color: #121212;
        transition: color 0.5s; }
      .btn.btn-1 input:checked + label {
        left: 50%;
        width: 90px;
        background: #c40233;
        transition: left 0.5s, right 0.4s 0.2s; }
    .btn.btn-1 input:not(:checked) {
      background: #c40233;
      transition: background 0.5s -0.1s; }
      .btn.btn-1 input:not(:checked):before {
        color: #121212;
        transition: color 0.5s; }
      .btn.btn-1 input:not(:checked):after {
        color: #121212;
        transition: color 0.5s 0.2s; }
      .btn.btn-1 input:not(:checked) + label {
        right: 10px;
        width: 90px;
        background: #F8F8FF;
        transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s; }

.flexbox {
  width: 90%;
  margin: 5%;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.flexelement {
  background: none;
  color: #F8F8FF;
  text-align: center;
  width: 39%;
  margin: 0 0 1% 0;
  padding: 15px 0 15px 0; }

.flexelement .teaser {
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 20px; }

.flexelement .caption {
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px; }

.flexelement .content {
  text-align: justify;
  text-transform: none;
  font-weight: lighter;
  font-size: 16px; }

.flexelement img {
  width: 60%;
  height: 60%;
  border-radius: 24px; }

.erg {
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .erg h1 {
    color: #F8F8FF;
    text-transform: uppercase;
    font-weight: lighter; }
  .erg input[type="text"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #c40233;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: #F8F8FF;
    border-radius: 24px;
    transition: 0.25s;
    box-shadow: 1px 6px 11px #000000; }
  .erg input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #c40233;
    padding: 14px 40px;
    outline: none;
    color: #F8F8FF;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 1px 6px 11px #000000; }
  .erg input::placeholder {
    color: #F8F8FF; }
  .erg input[type="submit"]:hover {
    background: #c40233;
    color: #121212; }

.content-spacer {
  border: 1px solid #C40233; }

/*# sourceMappingURL=main_style.css.map */
